{% extends "base.html" %}

{% block title %}Enrollment{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_enrollment.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Update Enrollment</h2>
    <form method="POST" action="/enrollments/{{ enroll.id }}/edit">

        <label for="student">Select Student</label>
        <input type="text" id="student-search" value="{{enroll.student.name}}" placeholder="Type student name..."
            autocomplete="off">
        <input type="hidden" value="{{enroll.student.id}}" name="student_id" id="student-id">
        <div id="search-results"></div>

        <label for="course">Select Course</label>
        <select name="course_id" id="courseSelect" required>
            {% for course in courses %}
            <option value="{{ course.id }}" {% if course.id==enroll.course_id %}selected{% endif %}>{{ course.name }}
            </option>
            {% endfor %}
        </select>

        <label for="course">Select Semester</label>
        <select name="semester_id" id="semesterSelect" required>
            <option value="">All Semesters</option>
        </select>

        <label for="enroll_date">Enrollment Date</label>
        <input type="date" name="enroll_date" value="{{ enroll.enroll_date }}" required>

        <label for="status">Status</label>
        <select name="status">
            <option value="active" {% if enroll.status=="active" %}selected{% endif %}>Active</option>
            <option value="completed" {% if enroll.status=="completed" %}selected{% endif %}>Completed</option>
            <option value="dropped" {% if enroll.status=="dropped" %}selected{% endif %}>Dropped</option>
        </select>


        <button type="submit" class="btn">Update Enrollment</button>
    </form>
</div>

<script src="{{url_for('static',filename='js/enrollment/edit_enrollment.js')}}"></script>
{% endblock %}