{% extends "base.html" %}

{% block title %}Add Enrollment{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_enrollment.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Add Enrollment</h2>
    <form method="POST" action="/enrollments/add">

        <label for="student">Select Student</label>
        <input type="text" id="student-search" placeholder="Type student name..." autocomplete="off">
        <input type="hidden" name="student_id" id="student-id">
        <div id="search-results"></div>

        <label for="course">Select Course</label>
        <select name="course_id"  id="courseSelect"required>
            <option value="" selected>Choose Course</option>
            {% for course in courses %}
            <option value="{{ course.id }}">{{ course.name }}</option>
            {% endfor %}
        </select>

        <label for="course">Select Semester</label>
        <select name="semester_id" id="semesterSelect"required>
            <option value="">All Semesters</option>
        </select>

        <label for="enroll_date">Enrollment Date</label>
        <input type="date" name="enroll_date" value="{{ today }}" required>

        <label for="status">Status</label>
        <select name="status">
            <option value="active">Active</option>
            <option value="completed">Completed</option>
            <option value="dropped">Dropped</option>
        </select>

        <button type="submit" class="btn">Add Enrollment</button>
    </form>
</div>

<script src="{{url_for('static',filename='js/enrollment/add_enrollment.js')}}"></script>
{% endblock %}