{% extends "base.html" %}

{% block title %}Enrollments{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/enroll_home.css') }}">
{% endblock %}

{% block content %}
<div class="enrollments-container">
    {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages %}
    {%for category, message in messages%}
    <p class="{{category}}">{{ message }}</p>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="top-bar">
        <h2>Enrollment Management</h2>
        <a href="/enrollments/add" class="btn-add">+ Add Enrollment</a>
    </div>

    <!-- Search -->
    <form method="POST" action="/enrollments/search" class="search-form">
        <input type="text" name="search" placeholder="Search by student or course..." required>
        <button type="submit">Search</button>
    </form>

    <H4>{{text}}</H4>

    <!-- Enrollment Table -->
    <table class="enrollments-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Student</th>
                <th>Course</th>
                <th>Enrollment Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for enroll in enrollments %}
            <tr>
                <td>{{ enroll.id }}</td>
                <td> <a href="/enroll/students/{{ enroll.student.id }}/viwe" class="student_name_a">{{  enroll.student.name }}</a></td>
                <td>{{ enroll.course.name }}</td>
                <td>{{ enroll.enroll_date }}</td>
                <td>{{ enroll.status }}</td>
                <td>
                    <a href="/enrollments/{{ enroll.id }}/edit" class="btn-edit">Edit</a>
                    <a href="/enrollments/{{ enroll.id }}/delete" class="btn-delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}