{%extends "base.html"%}

{%block title%} SMS Dashboard {%endblock%}
{%block css%} <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">{%endblock%}
    {%block content%}
    <section class="cards">
        <div class="card">
            <h3>Total Students</h3>
            <p>{{total_students}}</p>
        </div>
        <div class="card">
            <h3>Total Courses</h3>
            <p>{{total_courses}}</p>
        </div>
        <div class="card">
            <h3>Total Subjects</h3>
            <p>{{total_subjects}}</p>
        </div>
        <div class="card">
            <h3>Active Enrollments</h3>
            <p>{{total_enrollments}}</p>
        </div>
    </section>
{%endblock%}
